
@{
    ViewData["Title"] = "Добавление продуктов";
}

<form method = "post">
    Имя: <input type = "text" name = "Name"/>
    <br/>
    Цена: <input type = "number" name = "Price"/>
    <br/>
    <input type = "submit" name = "submit" value = "Cоздать"/>
</form>