
@{
    ViewData["Title"] = "Добавление продуктов";
}
<html>
    <body>
<form method = "post">
    Имя: <input type = "text" name ="Name"/>
    <br/>
    Цена: <input type = "text" name ="Price"/>
    <br/>
    <input type = "submit" name ="Submit" value = "Cоздать"/>
</form>
</body>
</html>