@model MVCLearning.Domain.Catalog
@{
    ViewData["Title"] ="Список товаров";
}
@{
    if (Model is null)
    {
           <p>Каталог пуст</p> 
    }
    else
    {<P>В каталоге: @Model.Count продуктов</P>
         foreach (var item in Model.Products)
        {
            <p>@item.Value.Name @item.Value.Price </p>
        } 
    }
  
}
